:host {
    position: absolute;
    overflow: hidden;
    z-index: 1 !important;
}

tr td:first-child, tr th:first-child {
    padding-right: 0 !important;
}

tr td:nth-child(2), tr th:nth-child(2)  {
    padding-left: 0 !important;
}

.waterfall-wrapper {
    padding: 40px 20px 10px 20px;
}

.rowExpansionContent {
    background-color: #E3F2FD;
    padding: 0px 12px 16px 16px;
    overflow: auto;
}

.rowExpansionContent div {
    white-space: nowrap; 
    display: block;
}